<%= form_for :hotel, url: hotels_path(@hotel) ,
method: :patch do |f| %>
  <% if @hotel.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited
      this hotel from being saved:</h2>
    <ul>
    <% @hotel.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 

 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', hotels_path %>