<%= form_for(@hotel, url: hotel_path(@hotel), html: { method: :PUT }) do |f| %>
  <% if @hotel.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited
      this hotel from being saved:</h2>
    <ul>
    <% @hotel.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :user_hotel, :rating %><br>
    <%= text_field :user_hotel, :rating %>
  </p>
 
<!-- hidden_field_tag :model_id, params[:model_id] -->

 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', hotels_path %>